[Unit]
Description=Crestic backup service

[Service]
Type=simple
User=kamil
Environment=PATH=/usr/local/bin:/usr/bin:/bin:/home/kamil/.local/bin/
ExecStart=/home/kamil/.config/crestic/backup.sh desktop

[Install]
WantedBy=default.target
