[Unit]
Description=Timer for Crestic backup script

[Timer]
OnCalendar=*-*-1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31 00:09:00
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
